<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8" />
        <title>hello world</title>
        <!--[if lt IE 9]>
            <script type="text/javascript" src="js/libs/html5shiv.js"></script>
        <![endif]-->
        <script type="text/javascript" src="js/libs/angular.min.js"></script>
        <script type="text/javascript" src="js/app/HelloController1.js"></script>
    </head>
    <body>
        <div ng-controller="hello">
            <input ng-model="h1.text">
            <p ng-click="test()">{{h1.text}},world</p>
        </div>
        <div ng-controller="hello2">
            <input ng-model="h2.text">
            <p ng-click="test1()">{{h2.text}},world</p>
        </div>
        <input ng-model="my.text">
        <p>{{my.text}},hahahah</p>
    </body>
</html>