<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>hello world</title>
        <!--[if lt IE 9]>
            <script type="text/javascript" src="js/libs/html5shiv.js"></script>
        <![endif]-->
        <script type="text/javascript" src="js/libs/angular.min.js"></script>
        <script type="text/javascript" src="js/app/Module1.js"></script>
    </head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="price">
            <label for="price">价格：</label>
            <input id="price" ng-model="price" />
        </div>
        <div class="count">
            <label for="price">数量：</label>
            <input id="count" ng-model="count" />
        </div>
        <p>总价为：{{price*count}}</p>
        <button ng-click="test()">click me</button>
        <div class="myInfo">
            <ul>
                <li ng-repeat="(key,val) in myObj">{{key+':'+val}}</li>
            </ul>
            <ul>
                <li ng-repeat="myInfo in myObj">{{myInfo}}</li>
            </ul>
        </div>
    </div>
</body>

</html>
